$section-bg: #ebebeb;
$black: #333333;
$disabled: #cecece;
$active: #1157da;
$inactive: #cecece;
$white: #fff;

// fonts
$font-regular: 'Roboto', Helvetica Neue, Arial, sans-serif;
$font-medium: 'Roboto-Medium', Helvetica Neue, Arial, sans-serif;
$font-bold: 'Roboto-Bold', Helvetica Neue, Arial, sans-serif;

//Responsive Breakpoints
$lg: 768px;
