@import '../../../styles/partials/variable.scss';
.citythreeDayForcast {
    margin-top: 1.5rem;
    & > p {
        color: $inactive;
        font-size: 0.8rem;
    }

    .ListWrapper {
        .item {
            display: flex;

            justify-content: space-between;
            padding: 1.5rem 0;
            border-bottom: solid 1px $disabled;
            border-radius: 0;
            &:last-child {
                border-bottom: none;
            }
        }
    }
}
